$color-text: black;
$color-text-secondary: green;
$color-primary: orange;
$color-secondary: red;
$max-container-width: 1152px;
$font-family: "David libre", serif;
$font-family-secondary: "David libre", serif;
$box-shadow: 0